* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #34495e;
}

.AddTask {
  width: 85%;
  height: 2.1rem !important;
  border: 1px solid #808080;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  font-size: 1rem;
}

.btn-submit {
  width: 15%;
  height: 2.19rem !important;
  margin-left: 0.2rem;
  text-align: center;
  background-color: #1564bf;
  color: #fff;
  border: 1px solid #1564bf;
  border-radius: 0.2rem;
}

.filters {
  width: 45%;
  margin: 0.5rem 0;
}

.btn {
  width: 4.2rem;
  height: 2rem;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
}
.isError {
  border: 1px solid red;
}
.btn-done {
  background-color: #36b64f;
  margin-left: 1rem;
}

.btn-notDone {
  background-color: #e23d3d;
  margin-left: 1rem;
}

.btn-all {
  background-color: #6200ee;
}

.inputs {
  display: flex;
  align-items: center;
  width: 45%;
  position: relative;
  margin-top: 0.3rem;
}

.formAdd {
  width: 100%;
  display: flex;
}

h1 {
  color: #fff;
}

.tasks {
  width: 45%;
  height: 300px;
  position: relative;
  display: flex;
  background-color: #fff;
  margin-bottom: 0.1rem;
  border: 1px solid #111;
  overflow: hidden;
  border-radius: 0.3rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

.error {
  border: 1px solid red !important;
  margin-left: -0.5rem;
}

.error-text {
  color: red;
  font-size: 0.8rem;
  margin-top: -1.2rem;
}

.fa-pen {
  color: #356fd4;
  margin-left: 1.5rem;
}

.fa-pen:active {
  color: #084bbd;
  margin-left: 1.5rem;
}

tbody {
  height: 100%;
  overflow: auto;
}

tbody,
tr {
  position: relative;
  width: 100%;
}

tr {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  height: 2.5rem !important;
}

td:first-child {
  width: 10%;
}

td:nth-child(3) {
  width: auto;
  display: flex;
}

.txt {
  width: 70%;
}

.txt input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}
